name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD  
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4

      - name: Pruebas ESLint
        run: |
          cd ${{ github.workspace }}/vue
          npm ci
          npm run lint

      - name: Instal路la depend猫ncies i construeix l'aplicaci贸
        if: ${{ job.status }} != 'failure'
        run: |
          cd ${{ github.workspace }}/vue
          npm run build
      

      - name: Subiendo vue a producci贸n
        if: ${{ job.status }} != 'failure'
        run: |
          echo "${{ secrets.PROD_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          cd ${{ github.workspace }}
          echo "Action desplegant VUE a produccio per ${{ github.actor }}" > ./vue/last_deploy.txt
          date >> ./vue/last_deploy.txt
          scp -r -o stricthostkeychecking=no -o UserKnownHostsFile=/dev/null -i "~/prod_key.pem" ./vue/dist/* ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }}:/home/a22rauespgom/web/a22rauespgom.daw.inspedralbes.cat/public_html/actions

      - run: echo " This job's status is ${{ job.status }}."
